@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif; }

.btn-outline {
  border: 2px solid #fff;
  border-radius: 35px;
  text-transform: uppercase;
  padding: 7px 25px;
  letter-spacing: 10px;
  color: #fff; }
  .btn-outline:hover {
    color: #fff;
    box-shadow: 0 0 8px 5px #fff, 0 0 15px 5px #5ea9fa; }

.btn-primary {
  padding: 10px 15px;
  background: linear-gradient(to bottom right, #3abcfc, #0876ee, #0457be, #022455);
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  transition: box-shadow 0.25s ease-in-out; }
  .btn-primary:hover {
    box-shadow: 0 0 8px 5px #fff, 0 0 15px 5px #5ea9fa; }

#landing-section {
  height: 90vh; }

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px; }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black; }

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; }

.video-container:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(14, 72, 134, 0.575);
  position: absolute; }

.content {
  z-index: 2; }

.navbar,
.navbar-nav {
  z-index: 3; }

.navbar {
  background: linear-gradient(to bottom right, rgba(58, 188, 252, 0.8), rgba(8, 118, 238, 0.8), rgba(4, 87, 190, 0.8), rgba(2, 36, 85, 0.8));
  min-height: 50px;
  border-bottom: 2px solid rgba(1, 28, 65, 0.8); }

.navbar-toggler:focus {
  color: #fff; }

.card {
  border-bottom-right-radius: 40px;
  background: linear-gradient(to bottom right, #fff, #eff9ff, #bee6ff);
  border: none; }

.card-text {
  font-size: 1.1rem; }

#about-me {
  background: linear-gradient(to bottom right, #eff9ff, #bee6ff, #93dbff);
  border-top: #015fd10e 2px solid;
  border-bottom: #015fd170 2px solid;
  padding-bottom: 100px; }

#about-text {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0 20px;
  line-height: 1.7; }

.html-icon {
  background: linear-gradient(135deg, #ff0000, #3f0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.css-icon {
  background: linear-gradient(135deg, #0000ff, #00004c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.js-icon {
  background: linear-gradient(135deg, #ffe700, #b4a200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.sass-icon {
  background: linear-gradient(135deg, #ff4da6, #7a2d56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.git-icon {
  background: linear-gradient(135deg, #ff9a00, #aa6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bootstrap-icon {
  background: linear-gradient(135deg, #a300ff, #350053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#contact-head {
  background: linear-gradient(to bottom right, #eff9ff, #bee6ff, #93dbff);
  border-top: #015fd10e 2px solid;
  border-bottom: #0457be 2px solid;
  padding-bottom: 100px; }

#footer {
  background: linear-gradient(to bottom right, #3abcfc, #0876ee, #0457be, #022455); }

@media (max-width: 768px) {
  .m-resp {
    margin: 3rem 0; }

  .mb-resp {
    margin: 2rem 0; } }

/*# sourceMappingURL=style.css.map */
