$blue-gradient-main: #3abcfc, #0876ee, #0457be, #022455;
$blue-gradient-opaque: rgba(58, 188, 252, 0.8), rgba(8, 118, 238, 0.8),
  rgba(4, 87, 190, 0.8), rgba(2, 36, 85, 0.8);
$light-blue-gradient: #eff9ff, #bee6ff, #93dbff;
$button-glow: 0 0 8px 5px #fff, 0 0 15px 5px #5ea9fa;
